/* Base styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

.header {
    width: 1800px;
    height: 600px;
    position: relative;
    background: linear-gradient(to right, #f5ddda, #f5f3ff, #d5eaf5); /* Warm gradient background */
    overflow: hidden;
}

/* Circular shapes */
.header::before, .header::after {
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    background: rgba(255, 255, 255, 0.1); /* Light shapes for subtle contrast */
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.header::before {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header::after {
    right: 10%;
    bottom: -50px;
}

/* Content alignment */
.content {
    position: absolute;
    right: 10%; /* Space from the right border */
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Aligns child elements to the right */
}

/* Name and tagline alignment */
.name {
    font-size: 58px;
    font-weight: bold;
    color: #324AB2;
    margin: 0; /* Ensure no margin affects alignment */
    text-align: right; /* Right align text */
}

.tagline {
    font-size: 32px;
    color: #324AB2;
    margin-top: 10px; /* Space above the tagline */
    margin-bottom: 30px; /* Increased space between tagline and links */
    text-align: right; /* Right align text */
}

/* Link styles */
.links {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align links to the right */
}

.link a {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align text and logo within the link to the left */
    text-decoration: none;
    font-size: 25px;
    color: #324AB2;
    background-color: rgba(185, 213, 249, 1.0);
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px; /* Space between links */
    width: fit-content; /* Background only covers content */
    margin-right: 0; /* Align right edge of background with content container */
    text-align: right; /* Right align text within the link */
}

.link img {
    width: 24px;
    margin-right: 8px;
}